*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Sourced from The Odin Project */
    --odinBlue: rgb(14,24,39);
    --rowWidth: 16;
}

#js-grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

#js-grid > * {
    width: calc(100% / var(--rowWidth));
    border: solid red 1px;
}

#button-container {
    display: flex;
    justify-content: center;
    background-color: var(--odinBlue);
    padding: 1rem;
    border-bottom: solid gold 4px;
}

button {
    background-color: white;
    color: black;
    width: 25%;
    height: 50px;
    border-radius: 50px;
    border: solid gold 2px;
}

button:hover {
    background-color: darkgray;
}

button:active {
    background-color: red;
}