*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Sourced from The Odin Project */
    --odinBlue: rgb(14,24,39);
    --rowWidth: 16;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#js-grid {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    border: solid 1px gold;
}

#js-grid .grid-square-border {
    width: calc(100% / var(--rowWidth));
    background-color: none;
    border: solid 0.5px black;
}

.grid-square {
    width: 100%;
    height: 100%;
}

#button-container {
    display: flex;
    justify-content: center;
    background-color: var(--odinBlue);
    padding: 1rem;
    border-bottom: solid gold 4px;
    gap: 1rem;
    min-width: 100%;
}

button {
    background-color: white;
    color: black;
    width: 25%;
    height: 50px;
    border-radius: 50px;
    border: solid gold 2px;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

button:active {
    background-color: red;
}

header {
    min-width: 100%;
    border-bottom: solid gold 2px;
    background-color: var(--odinBlue);
}

header p {
    text-align: center;
    color: white;
}